/*CSS RESET START*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* CSS RESET END */


body {
    font: 16px;
    line-height: 28px;
    font-family:sans-serif;
    color: black;
    background-image: url(https://img.freepik.com/free-vector/hand-drawn-floral-outline-background_23-2150714996.jpg?w=740&t=st=1691980200~exp=1691980800~hmac=ae1e20de24ff842bda122a912b3fd844eefb96ca5d58aa32313a3f6c18cd098e);
}

.topbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    background-color: black;
    border-bottom: 3px solid gold;
    z-index: 9999;
}

.idn {
    width: 70px;
    height: 70px;
    background-image: url(idn-removebg-preview\ 1.png);
    background-repeat: no-repeat;
    display: inline-block;
}

.hsi {
    width: 63px;
    height: 70px;
    margin-top: 6px;
    margin-right: 10px;
    background-image:url(image\ 33.png) ;
    background-repeat: no-repeat;
    display: inline-block;
    margin-left: 10px;
}

.me {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    font-style: italic;
    font-family: 'Dancing Script', cursive;
    position: absolute;
    line-height: 80px;
    top: 0px;
    left: 0px;
    right: 0px;
    color: gold;
}

.container {
    width: 960px;
    margin: auto;
    background-color:aliceblue;
    margin: 80px auto;
    position: relative;
}

.instagram {
    width: 200px;
    height: 200px;
    background-image: url(instagram.png);
    background-repeat: no-repeat;
    display: inline-block;
    position: absolute;
    text-indent: -9999px;
    top: -13px;
    right: -18px;
}

.header .nama {
    font-family: 'Tilt Prism', cursive;
}

.header {
    padding: 20px;
}

.header .nama {
    font-size: 40px;
    font-weight: bold;
    box-sizing: border-box;
    float: left;
}

.header ul{
    padding: 13px;
    background-color: black;
    border-radius: 10px;
    display: inline;
    border-bottom: 3px solid gold;
}

.header ul li {
    display: inline-block;
    padding: 10px;
}

.header a {
    text-decoration: none;
    color:white;
    padding: 3px;
}

.header a:hover {
    background-color: lightskyblue;
    color: whites;
}

.hero {
    height: 320px;
    background-image: url(masjid.png);
    background-size: cover;
    background-repeat: no-repeat;
        background-position: 0 -240px;
        border-radius: 8px;
        margin: 0px 6px;
}

.main {
    width: 600px;
    padding: 20px;
    box-sizing: border-box;
    float: left;
}

.main h2 {
    font-size: 30px;
        font-weight: bold;
}

.main .penulis {
    font-size: 13px;
        margin-top: 4px;
        margin-bottom: 20px;
}

.main p {
    margin-bottom: 22px;
        text-align: justify;
        font-size: 16px;
}

.main .penulis a {
    color: salmon;
    text-decoration: none;
}

.footer {
    background-color: #333;
        padding: 10px;
        border-bottom-left-radius: 14px;
        border-bottom-right-radius: 14px;
}

.footer .copy {
    color: #eaeaea;
        text-align: center;
        font-size: 14px;
}

.font {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.nama {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.alukah {
    text-decoration: none;
}

.arab {
    font-size: 18px !important;
        font-weight: 600;
        text-align: center !important;
        font-family: "Amiri", serif;

}

.ingris {
    text-align: center;
    font-weight: bold;
}

.kuning {
    background-color: yellow;
}

.p {
    font-style: italic;
}

.arap {
    font-family: 'Noto Nastaliq Urdu', serif;
}

.naga {
    font-family: 'Noto Nastaliq Urdu', serif; 
}

.nagi {
    font-style: italic;
}

.header .navbar {
    margin-top: 50px;
    background-color:greenyellow;
    width: 476px;
    border-radius: 15px;
}
/* sidebar */

.sidebar {
width: 250px;
    border-left: 1px solid #e3e1e1;
    float: right;
    padding: 14px;
    overflow: auto;
    background-color: #f3f1f1;
    height: 1500px;
}

.sidebar h3 {
    font-size: 18px;
        font-weight: 500;
        text-align: center;
        margin-bottom: 8px;
}

.sidebar img {
    width: 70px;
    height: 70px;
    display: block;
    margin: auto;
    border-radius: 100px;
}

.sidebar p {
    font-size: 14px;
        line-height: 20px;
}

.sidebar ul li {
    font-size: 14px;
        line-height: 20px;
        list-style: circle;
}

.sidebar h5 {
    text-align: center;
        font-weight: 500;
        margin: 14px 0px;
}


.sosmed {

    text-align: left;
    border-radius: 5px;
    float: left;
    margin-right: 10px;
}

.sosmed ul li {
    padding: 20px;
    font-size: 12px;
}

.soft {
    margin-top: 20px;
}











/* clearfix */
.cf:before,
.cf:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.cf:after {
    clear: both;
}


.cf {
    zoom: 1;
}